[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
pyplotz = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
